
body {
    margin-inline: auto;
    padding: 2px 23px 2px 30px;
}

#container {
    display: grid;
    grid-template-columns: repeat(4, 220px);
    grid-template-rows: repeat(5, 220px);
    gap: 20px;
    padding: 40px;
}

input {
    height: 30px;
    width: 30vw;
    margin: auto;
    padding: 10px 10px;
    border: 1px solid black;
}

.gallery img:hover {
    filter: drop-shadow(4px 4px 6px gray);
    transform: scale(1.1);
}

#search {
    display: flex;
    position: center;
    margin: 0 auto;
    padding: 20px 30px;
    border: 2px solid grey;
    border-radius: 5px;
    box-shadow: 2px 5px 5px slategrey;
    width: 50%;
    align-items: center;;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1em;
    font-weight: bold;
}